<!--The content below is only a placeholder and can be replaced.-->

<br>
<br>
<div class="container">
  <nav class="loop-tabs _loop_page_nav" id="wrap">
      <!-- Begin Dropdown-v2 components -->
       <ul class="primary-tabs _loop_page_nav_list" id="dropdown-tab">
          <li class="_loop_nav_list_item"><a routerLink="/project-detail" routerLinkActive="active"  >Summary</a></li> 
          <li class="_loop_nav_list_item"><a routerLink="/project-procurement" routerLinkActive="active">Procurement</a></li> 
          <li class="_loop_nav_list_item"><a routerLink="/document-detail" routerLinkActive="active">Documents</a></li> 
          <li class="_loop_nav_list_item"><a routerLink="/news-media" routerLinkActive="active">News and media</a></li> 
          <li class="_loop_nav_list_item"><a routerLink="/photo-gallery" routerLinkActive="active">Photo Gallery</a></li> 
      </ul>
      
      
      
  </nav></div>
  <div class="row full-row-white-components" style="padding:32px 0px 32px 0px;">
    <div class="container">
    <router-outlet></router-outlet>
    </div>
  </div>
