<!-- Begin Recently Approved Projects -->
<project [locale]="locale"  [imagePath]="imagePath" [loading]="loading" [projectsPath]="projectsPath" [projectListPath]="projectListPath" [projectResponse]="projectResponse"></project>
<!-- End Recently Approved Projects -->
<!-- Begin Recently Approved Procurement Notices -->
<div class="row full-row-white-components">
  <div class="container">
      <procurement [locale]="locale"  [imagePath]="imagePath" [loading]="loading" [procurementsPath]="procurementsPath" [procurementSearchPath]="procurementSearchPath" [procurementResponse]="procurementResponse"></procurement>
     <!-- End Table -->
     <!-- Begin Operation at a Glance -->
     <lending-indicators [locale]="locale"  [imagePath]="imagePath" [loading]="loading"
      [lendingResponse]="lendingResponse"></lending-indicators> 
     
     <div class="row">
      <div class="heading-v1">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h2></h2>
              <h3></h3>
          </div>
      </div>
    </div>
    <!--<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a href="http://maps.worldbank.org"><img alt="map" width="100%"  src="https://author-wb-stage62.adobecqms.net/content/dam/wbr-redesign/images/map-home.PNG" />
            </a>
            <p style="margin: 0 ; font-size: 12px;width:80%;line-height:16px;">Disclaimer:  Country borders or names do not necessarily reflect the World Bank Group's official position. This map is for illustrative purposes and does not imply the expression of any opinion on the part of the World Bank, concerning the legal status of any country or territory or concerning the delimitation of frontiers or boundaries.</p>
        </div>
    </div>-->
  </div>
</div>
<!-- End Recently Approved Procurement Notices -->